.menubox{
    width: 100%;
    padding:15px 5px 15px;
    background-image: linear-gradient( rgb(128,0,0),rgb(230,0,0),rgba(128,0,0,1));
    color: white;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.menubox:hover{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    background-image: linear-gradient( rgb(102,0,0),rgb(255,0,0),rgba(102,0,0,1));
}

.menubox-content:hover{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    background-image: linear-gradient( rgb(255,0,0),rgb(102,0,0),rgba(255,0,0,1));
}

.menubox:hover .menubox-content{
    display: block;
}

.menubox-content {
    display: none;
    position: relative;
    background-image: linear-gradient( rgb(102,0,0),rgb(255,0,0),rgba(102,0,0,1));
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 5px;
    margin-top: 2px;
    z-index: 100;
}